*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    height: 80px;
    width: 100%;
    background-color: royalblue;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: white;
}
.logo {
    height: 80px;
    /* width: 80px; */
    /* background-color: white; */
    /* border: 1px solid black; */
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.navlinks {
    height:80%;
    /* width:700px; */
    /* background-color: white; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 100px;
}
.navlinks > a {
    color: inherit;
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;
}
.navlinks > a:hover {
    background-color: white;
    color: royalblue;
}
.search-icon {
    height: 80%;
    width: 80px;
    /* background-color: white; */
    /* border: 1px solid  black; */
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
